.heading{
    font-size:30px;
    width:100%;
    margin:0px;
    color:aliceblue;
}

p{
    font-size: 25px;
    color: aliceblue;
}
body{
background-size: cover;
}
#start{
    font-size: 18px;
}


canvas{
    border: 2px solid white;
    border-radius:10px;
    margin-top:130px;
    box-shadow:5px 5px 5px grey;

}